#root {
  width: 100%;
  margin-top: 0;
}
#myChart{
  width: 200px;
  height: 200px;
}
/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #cecece;
}
.navbar{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.navbar.bg-body-tertiary {
  background-color: #333 !important; /* overschrijd de styling van bootstrap */
  color: #f7931a;
}
.custom-link {
  color: #f7931a !important;
  text-decoration: none;
}
.header{
  width: 100%;
}
.homepage-container{
  height: 200px;
  margin-top: 100px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.homepage-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #f7931a;
}
.homepage-header {
  margin-bottom: 20px;
  width: 70%;
}
.homepage-content {
  margin-top: 20px;
}

.homepage-text {
  font-size: 1.2rem;
  color: #555;
  text-align: center;
}
.homepage-section{
  margin-top: 100px;
  max-width: 100%;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
}
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 20px;
}
/* Header styling */
.app-header {
  background-color: #282c34;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
}

.app-header h1 {
  margin: 0;
  font-size: 24px;
}

.app-header nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.app-header nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

.app-header nav ul li a:hover {
  text-decoration: underline;
}

/* Market page styling */
.market-container {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  min-height: 100vh;
}
.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.market-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #f7931a;
}

.price-cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding: 20px;
}
.product-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  min-height: 100vh;
}
.price-card:hover {
  transform: translateY(-5px);
}
img:hover{
  transform: translateY(-5px);
}
img{
  transition: transform 0.2s ease;
}

.coin-image {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  max-width: 150px;
  margin-bottom: 0px;
}

.coin-name {
  font-size: 20px;
  margin: 10px 0;
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.coin-symbol {
  font-size: 14px;
  color: #666;
  font-size: 18px;
  margin-bottom: 0px;
}

.coin-price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
  margin-bottom: 0px;
}

.price-change {
  font-size: 14px;
}

.negative {
  color: red;
}
#logo{
  border-radius: 50px;
  max-width: 100%;
  height: auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #f7931a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #f7931a;
}
.price-card{
  height: 280px;
  width: 260px;
  background-color: #888;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease;
}
.product-button{
  border-radius: 10px;
}
.favo-container{
  gap: 55px;
}
.symbol{
  height: 50px;
  width: 50px;
}
.price{
  font-size: 20px;
  font-weight: bold;
}
.positive{
  color: green;
}
.column{
  background-color: aquamarine;
  height: 100px;
  width: 100%;
}
.column-col{
  display: grid;
  grid-template-columns: auto auto auto;
}
.search-bar-container {
  text-align: center;
  margin-top: 20px;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-results {
  margin-top: 20px;
  text-align: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.search-result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.search-result-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.no-results {
  color: #999;
  font-style: italic;
}

.coin-market-cap,
.coin-change {
  font-size: 18px;
  margin-bottom: 10px;
}

.coin-description {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
#coin-description-title {
  color: #ffffff;
}
p{
  color: #ffffff;
}
.footer {
  background-color: #333;
  color: #f7931a;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.footer-content p {
  margin: 5px 0;
  font-size: 14px;
}